# Windows shortcuts.
*.lnk

# Any assets that can't be distributed.
# - Copied from the game's assets.
Source/StrawPack 2/lil spewer/resources/sfx/*
# - Can't find the original source.
Source/Turn to Toad/turn to toad/resources/sfx/*
